<div class="mb-3">
    <label for="UserName" class="form-label">Input User Name</label>
    <input type="text" class="form-control" id="UserName" name="UserName">
</div>
<div class="mb-3">
    <label for="Password" class="form-label">Input Password</label>
    <input type="password" class="form-control" id="Password" name="Password">
</div>
<button type="button" class="btn btn-primary" id="btnGenerate">Generate Password</button>
<div class="mb-3">
    <label for="HashPassword" class="form-label">Hash Password</label>
    <textarea class="form-control" id="HashPassword" name="HashPassword" rows="3"></textarea>
</div>
@section scripts{
    <script>
        $('#btnGenerate').click(function(){
            var reqModel = {
                UserName: $('#UserName').val(),
                Password: $('#Password').val(),
            }
            $.ajax({
                type: "POST",
                url: '/HashPassword/Index',
                data: { reqModel: reqModel },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $('#HashPassword').val(data.GeneratePassword);
                },
                error: function () {
                    
                }
            });
        })
    </script>
}